<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :vehicle_id %><br>
      <%= f.select('vehicle_id', @vehicles.collect{|role| [role.license_plate, role.id]}, {:prompt => "Vehicle plate"}, {:class=>"form-control", :required=>"required", :value => (f.object.vehicle_id.to_i if f.object.vehicle_id) }) %>
    </div>

    <div class="field">
      <%= f.label :passenger_id %><br>
      <%= f.select('passenger_id', @passengers.collect{|role| [role.name.capitalize, role.id]}, {:prompt => "Passenger"}, {:class=>"form-control", :required=>"required", :value => (f.object.passenger_id.to_i if f.object.passenger_id) }) %>
    </div>
   
    <div class="field">
      <%= f.label :from %><br>
      <%= f.text_field :from %>
    </div>
    <div class="field">
      <%= f.label :to %><br>
      <%= f.text_field :to %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
