<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :vehicle_id %><br>
      <%= f.text_area :vehicle_id %>
    </div>
    <div class="field">
      <%= f.label :passenger_id %><br>
      <%= f.text_area :passenger_id %>
    </div>
    <div class="field">
      <%= f.label :from %><br>
      <%= f.check_box :from %>
    </div>
    <div class="field">
      <%= f.label :to %><br>
      <%= f.datetime_select :to %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
